ul {
  list-style: none;
}

body {
  background-color: #ffffff;
  color: #434455;
}
/* logo */
.logo {
  height: 24px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-color-studio {
  width: 71px;
  color: #2e2f42;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.logo-color-web {
  width: 44px;
  color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* Site nav */
.site-nav .link {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #404bbf;
}
/* Hero section */
.hero-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
